body {
    background-image: url("https://media.giphy.com/media/fTs2BdzhDetPwvy3BE/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; 
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: #DF696C;
    text-shadow: 0px 0px 10px black;
}

.hero {
    margin-top: 375px;
}

#btn {
    padding: 20px 40px;
    font-size: 22px;
    background-color: #09303C;
    color: #DF696C;
    border: none;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 45px;
    font-family: inherit;
}

#underline {
    border-bottom: 2px solid #DF696C;
    font-family: Darksoul;
}

#btn:hover {
    background-color: #DF696C; 
    color: #09303C;
    cursor: pointer;
}

.label {
    background-color: #09303C; 
    margin-top: 155px;
    padding: 10px;
    font-size: 25px;
    position: absolute; 
    bottom: 0px;
    width: 100%; 
    width: 100vw;
}

.emphasis {
    font-family: Darksoul;
}